PRISMA_URL=""               # Supabase Postgres url for Prisma integration (Click 'Connect', then ORMs, then copy DATABASE_URL)
PRISMA_DIRECT_URL=""        # Supabase Postgres direct url for Prisma integration (Click 'Connect', then ORMs, then copy DIRECT_URL)